
.container{
    font-size: 35px;
    display: flex;
    padding: 7.8px;
    width: fit-content;
    flex-direction: column;
    text-align: center;
    background-color: rgb(112, 219, 25);
    width: 100%;
    font-weight: 500;
    align-items: center;
    margin-top: -0.60%;
    margin-left: -0.60%;
}

#mosaico{
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.alegria{
    width: 150px;
    
}

.tristeza{
    width: 150px;
    margin-left: 100px;
}

.tristeza-container{
    display: flex;
    align-items: center;

}

.botao1{
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center;
    width: 180px;
    height: 20px;    
    padding: 20px;
    background-color: rgb(173, 154, 43);    
}
.botao1:hover {
    background-color: #eecb08;
}

.botao2{
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center;
    width: 180px;
    height: 20px;    
    padding: 20px;
    margin-left: 270px;
    margin-top: -43px;
    background-color: rgb(173, 154, 43); 
}

.botao2:hover {
    background-color: #eecb08;
}

.legenda-botao1, .legenda-botao2{
    font-size: 16px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

